.mr-top-1em{
  margin-top: 1em;
}

body{
  background-color:#23B24E;
}

.card-img-custom{
  max-width:240px; min-width:150px; margin: 0 auto;
}

.bg-green{
  background-color: #177834;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.nav-imag{
    height:3rem;
}

.page-footer{

}

.cartItemImage{
    max-height: 6em; 
    margin-top: 2em;
}